body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:500px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:410px;
  height:500px;
  text-align:left;
}
#u1 {
  position:absolute;
  left:2px;
  top:52px;
  width:406px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:170px;
  width:100px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
