body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u804 {
  position:absolute;
  left:16px;
  top:19px;
  width:569px;
  height:446px;
}
#u805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u805 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#8090A5;
}
#u806 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
}
#u807 {
  position:absolute;
  left:150px;
  top:0px;
  width:414px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#8090A5;
}
#u808 {
  position:absolute;
  left:2px;
  top:10px;
  width:410px;
  word-wrap:break-word;
}
#u809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:127px;
}
#u809 {
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:127px;
  font-size:14px;
  color:#8090A5;
}
#u810 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:127px;
}
#u811 {
  position:absolute;
  left:150px;
  top:40px;
  width:414px;
  height:127px;
  font-size:14px;
  color:#8090A5;
}
#u812 {
  position:absolute;
  left:2px;
  top:34px;
  width:410px;
  word-wrap:break-word;
}
#u813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:126px;
}
#u813 {
  position:absolute;
  left:0px;
  top:167px;
  width:150px;
  height:126px;
  font-size:14px;
  color:#8090A5;
}
#u814 {
  position:absolute;
  left:2px;
  top:53px;
  width:146px;
  word-wrap:break-word;
}
#u815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:126px;
}
#u815 {
  position:absolute;
  left:150px;
  top:167px;
  width:414px;
  height:126px;
  font-size:14px;
  color:#8090A5;
}
#u816 {
  position:absolute;
  left:2px;
  top:33px;
  width:410px;
  word-wrap:break-word;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:108px;
}
#u817 {
  position:absolute;
  left:0px;
  top:293px;
  width:150px;
  height:108px;
  font-size:14px;
  color:#8090A5;
}
#u818 {
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  word-wrap:break-word;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:108px;
}
#u819 {
  position:absolute;
  left:150px;
  top:293px;
  width:414px;
  height:108px;
  font-size:14px;
  color:#8090A5;
}
#u820 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  word-wrap:break-word;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u821 {
  position:absolute;
  left:0px;
  top:401px;
  width:150px;
  height:40px;
  font-size:14px;
  color:#8090A5;
}
#u822 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
}
#u823 {
  position:absolute;
  left:150px;
  top:401px;
  width:414px;
  height:40px;
  font-size:14px;
  color:#8090A5;
}
#u824 {
  position:absolute;
  left:2px;
  top:12px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
