body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u693 {
  position:absolute;
  left:16px;
  top:19px;
  width:569px;
  height:446px;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u694 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#8090A5;
}
#u695 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
}
#u696 {
  position:absolute;
  left:150px;
  top:0px;
  width:414px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#8090A5;
}
#u697 {
  position:absolute;
  left:2px;
  top:10px;
  width:410px;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:127px;
}
#u698 {
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:127px;
  font-size:14px;
  color:#8090A5;
}
#u699 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:127px;
}
#u700 {
  position:absolute;
  left:150px;
  top:40px;
  width:414px;
  height:127px;
  font-size:14px;
  color:#8090A5;
}
#u701 {
  position:absolute;
  left:2px;
  top:34px;
  width:410px;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:126px;
}
#u702 {
  position:absolute;
  left:0px;
  top:167px;
  width:150px;
  height:126px;
  font-size:14px;
  color:#8090A5;
}
#u703 {
  position:absolute;
  left:2px;
  top:53px;
  width:146px;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:126px;
}
#u704 {
  position:absolute;
  left:150px;
  top:167px;
  width:414px;
  height:126px;
  font-size:14px;
  color:#8090A5;
}
#u705 {
  position:absolute;
  left:2px;
  top:33px;
  width:410px;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:108px;
}
#u706 {
  position:absolute;
  left:0px;
  top:293px;
  width:150px;
  height:108px;
  font-size:14px;
  color:#8090A5;
}
#u707 {
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:108px;
}
#u708 {
  position:absolute;
  left:150px;
  top:293px;
  width:414px;
  height:108px;
  font-size:14px;
  color:#8090A5;
}
#u709 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u710 {
  position:absolute;
  left:0px;
  top:401px;
  width:150px;
  height:40px;
  font-size:14px;
  color:#8090A5;
}
#u711 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
}
#u712 {
  position:absolute;
  left:150px;
  top:401px;
  width:414px;
  height:40px;
  font-size:14px;
  color:#8090A5;
}
#u713 {
  position:absolute;
  left:2px;
  top:12px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
