body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1689px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:670px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:670px;
}
#u173 {
  position:absolute;
  left:2px;
  top:327px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:673px;
}
#u174 {
  position:absolute;
  left:0px;
  top:670px;
  width:1279px;
  height:673px;
}
#u175 {
  position:absolute;
  left:2px;
  top:328px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:47px;
}
#u176 {
  position:absolute;
  left:0px;
  top:1343px;
  width:1278px;
  height:47px;
}
#u177 {
  position:absolute;
  left:2px;
  top:16px;
  width:1274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:480px;
}
#u178 {
  position:absolute;
  left:1199px;
  top:890px;
  width:81px;
  height:480px;
}
#u179 {
  position:absolute;
  left:2px;
  top:232px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:101px;
  height:21px;
}
#u180p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:93px;
  height:1px;
}
#u180p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:103px;
  height:21px;
}
#u180p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u180p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u180p002 {
  position:absolute;
  left:77px;
  top:-11px;
  width:22px;
  height:22px;
}
#u180p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u180.compound {
  width:0px;
  height:0px;
}
#u180 {
  position:absolute;
  left:1209px;
  top:1213px;
  width:91px;
  height:1px;
}
#u181 {
  position:absolute;
  left:2px;
  top:-8px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u182 {
  position:absolute;
  left:1310px;
  top:1196px;
  width:379px;
  height:40px;
  color:#FF0000;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  position:absolute;
  left:889px;
  top:1173px;
  width:310px;
  height:87px;
}
#u185 {
  position:absolute;
  left:2px;
  top:36px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
}
#u186 {
  position:absolute;
  left:1049px;
  top:1204px;
  width:150px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
