body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1689px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:670px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:670px;
}
#u62 {
  position:absolute;
  left:2px;
  top:327px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:673px;
}
#u63 {
  position:absolute;
  left:0px;
  top:670px;
  width:1279px;
  height:673px;
}
#u64 {
  position:absolute;
  left:2px;
  top:328px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:47px;
}
#u65 {
  position:absolute;
  left:0px;
  top:1343px;
  width:1278px;
  height:47px;
}
#u66 {
  position:absolute;
  left:2px;
  top:16px;
  width:1274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:480px;
}
#u67 {
  position:absolute;
  left:1199px;
  top:890px;
  width:81px;
  height:480px;
}
#u68 {
  position:absolute;
  left:2px;
  top:232px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:101px;
  height:21px;
}
#u69p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:93px;
  height:1px;
}
#u69p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:103px;
  height:21px;
}
#u69p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u69p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u69p002 {
  position:absolute;
  left:77px;
  top:-11px;
  width:22px;
  height:22px;
}
#u69p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u69.compound {
  width:0px;
  height:0px;
}
#u69 {
  position:absolute;
  left:1209px;
  top:1213px;
  width:91px;
  height:1px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-8px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u71 {
  position:absolute;
  left:1310px;
  top:1196px;
  width:379px;
  height:40px;
  color:#FF0000;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:889px;
  top:1173px;
  width:310px;
  height:87px;
}
#u74 {
  position:absolute;
  left:2px;
  top:36px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
}
#u75 {
  position:absolute;
  left:1049px;
  top:1204px;
  width:150px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:138px;
}
#u77 {
  position:absolute;
  left:66px;
  top:1442px;
  width:1146px;
  height:138px;
}
#u78 {
  position:absolute;
  left:2px;
  top:61px;
  width:1142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:229px;
  height:21px;
}
#u79p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:221px;
  height:1px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u79p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:231px;
  height:21px;
}
#u79p001 {
  position:absolute;
  left:109px;
  top:109px;
  width:1px;
  height:2px;
}
#u79p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:11px;
  height:22px;
}
#u79p002 {
  position:absolute;
  left:98px;
  top:-117px;
  width:22px;
  height:22px;
}
#u79p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u79.compound {
  width:0px;
  height:0px;
}
#u79 {
  position:absolute;
  left:10px;
  top:1322px;
  width:219px;
  height:1px;
}
#u80 {
  position:absolute;
  left:2px;
  top:-8px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u81 {
  position:absolute;
  left:130px;
  top:1196px;
  width:813px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  white-space:nowrap;
}
