body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1278px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:681px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:681px;
}
#u189 {
  position:absolute;
  left:2px;
  top:332px;
  width:1274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1272px;
  height:315px;
}
#u190 {
  position:absolute;
  left:0px;
  top:681px;
  width:1272px;
  height:315px;
}
#u191 {
  position:absolute;
  left:2px;
  top:150px;
  width:1268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:153px;
}
#u192 {
  position:absolute;
  left:1193px;
  top:843px;
  width:84px;
  height:153px;
}
#u193 {
  position:absolute;
  left:2px;
  top:68px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
}
#u194 {
  position:absolute;
  left:1176px;
  top:973px;
  width:64px;
  height:26px;
}
#u195 {
  position:absolute;
  left:2px;
  top:5px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
