body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1279px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:689px;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:689px;
}
#u830 {
  position:absolute;
  left:2px;
  top:336px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:140px;
  height:21px;
}
#u831p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:132px;
  height:1px;
}
#u831p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:142px;
  height:21px;
}
#u831p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u831p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u831p002 {
  position:absolute;
  left:116px;
  top:-11px;
  width:22px;
  height:22px;
}
#u831p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u831.compound {
  width:0px;
  height:0px;
}
#u831 {
  position:absolute;
  left:362px;
  top:426px;
  width:130px;
  height:1px;
}
#u832 {
  position:absolute;
  left:2px;
  top:-8px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u833 {
  position:absolute;
  left:502px;
  top:417px;
  width:117px;
  height:20px;
  color:#FF0000;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u835_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:55px;
  height:21px;
}
#u835p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:47px;
  height:1px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u835p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:57px;
  height:21px;
}
#u835p001 {
  position:absolute;
  left:22px;
  top:22px;
  width:1px;
  height:2px;
}
#u835p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:11px;
  height:22px;
}
#u835p002 {
  position:absolute;
  left:11px;
  top:-30px;
  width:22px;
  height:22px;
}
#u835p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u835.compound {
  width:0px;
  height:0px;
}
#u835 {
  position:absolute;
  left:620px;
  top:305px;
  width:45px;
  height:1px;
}
#u836 {
  position:absolute;
  left:2px;
  top:-8px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u837 {
  position:absolute;
  left:619px;
  top:253px;
  width:169px;
  height:20px;
  color:#FF0000;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
