body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:734px;
}
#u240 {
  position:absolute;
  left:21px;
  top:20px;
  width:1279px;
  height:734px;
}
#u241 {
  position:absolute;
  left:2px;
  top:359px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
