body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1886px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:500px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u202 {
  position:absolute;
  left:1300px;
  top:190px;
  width:586px;
  height:500px;
  color:#FFFFFF;
}
#u203 {
  position:absolute;
  left:10px;
  top:10px;
  width:566px;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:788px;
}
#u204 {
  position:absolute;
  left:12px;
  top:12px;
  width:1278px;
  height:788px;
}
#u205 {
  position:absolute;
  left:2px;
  top:386px;
  width:1274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:140px;
  height:21px;
}
#u206p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:132px;
  height:1px;
}
#u206p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:142px;
  height:21px;
}
#u206p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u206p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u206p002 {
  position:absolute;
  left:116px;
  top:-11px;
  width:22px;
  height:22px;
}
#u206p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u206.compound {
  width:0px;
  height:0px;
}
#u206 {
  position:absolute;
  left:380px;
  top:359px;
  width:130px;
  height:1px;
}
#u207 {
  position:absolute;
  left:2px;
  top:-8px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u208 {
  position:absolute;
  left:520px;
  top:350px;
  width:117px;
  height:20px;
  color:#FF0000;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u210_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:55px;
  height:21px;
}
#u210p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:47px;
  height:1px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u210p000_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:57px;
  height:21px;
}
#u210p001 {
  position:absolute;
  left:22px;
  top:22px;
  width:1px;
  height:2px;
}
#u210p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:11px;
  height:22px;
}
#u210p002 {
  position:absolute;
  left:11px;
  top:-30px;
  width:22px;
  height:22px;
}
#u210p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u210.compound {
  width:0px;
  height:0px;
}
#u210 {
  position:absolute;
  left:638px;
  top:238px;
  width:45px;
  height:1px;
}
#u211 {
  position:absolute;
  left:2px;
  top:-8px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u212 {
  position:absolute;
  left:637px;
  top:186px;
  width:169px;
  height:20px;
  color:#FF0000;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
