body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:715px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:715px;
}
#u171 {
  position:absolute;
  left:2px;
  top:350px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:571px;
}
#u172 {
  position:absolute;
  left:0px;
  top:715px;
  width:1279px;
  height:571px;
}
#u173 {
  position:absolute;
  left:2px;
  top:278px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:434px;
}
#u174 {
  position:absolute;
  left:1199px;
  top:840px;
  width:86px;
  height:434px;
}
#u175 {
  position:absolute;
  left:2px;
  top:209px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
