body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1279px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:799px;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:799px;
}
#u840 {
  position:absolute;
  left:2px;
  top:392px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u841 {
  position:absolute;
  left:460px;
  top:315px;
  width:120px;
  height:1px;
  color:#FF0000;
}
#u842 {
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:150px;
}
#u843p000 {
  position:absolute;
  left:-70px;
  top:69px;
  width:141px;
  height:2px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u843p000_img {
  position:absolute;
  left:-15px;
  top:-5px;
  width:161px;
  height:12px;
}
#u843p001 {
  position:absolute;
  left:0px;
  top:139px;
  width:1px;
  height:2px;
}
#u843p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:12px;
}
#u843p002 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:22px;
  height:22px;
}
#u843p002_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:42px;
  height:32px;
}
#u843.compound {
  width:0px;
  height:0px;
}
#u843 {
  position:absolute;
  left:520px;
  top:176px;
  width:1px;
  height:140px;
}
#u844 {
  position:absolute;
  left:2px;
  top:62px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u845 {
  position:absolute;
  left:410px;
  top:146px;
  width:157px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u847 {
  position:absolute;
  left:453px;
  top:140px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u849 {
  position:absolute;
  left:603px;
  top:146px;
  width:393px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
