body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1669px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:738px;
}
#u228 {
  position:absolute;
  left:11px;
  top:12px;
  width:1279px;
  height:738px;
}
#u229 {
  position:absolute;
  left:2px;
  top:361px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  position:absolute;
  left:1100px;
  top:230px;
  width:110px;
  height:40px;
}
#u231 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:70px;
  height:21px;
}
#u232p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:62px;
  height:1px;
}
#u232p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:72px;
  height:21px;
}
#u232p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u232p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u232p002 {
  position:absolute;
  left:46px;
  top:-11px;
  width:22px;
  height:22px;
}
#u232p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u232.compound {
  width:0px;
  height:0px;
}
#u232 {
  position:absolute;
  left:1220px;
  top:243px;
  width:60px;
  height:1px;
}
#u233 {
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u234 {
  position:absolute;
  left:1290px;
  top:230px;
  width:379px;
  height:56px;
  color:#FF0000;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u236_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:70px;
  height:21px;
}
#u236p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:62px;
  height:1px;
}
#u236p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:72px;
  height:21px;
}
#u236p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u236p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u236p002 {
  position:absolute;
  left:46px;
  top:-11px;
  width:22px;
  height:22px;
}
#u236p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u236.compound {
  width:0px;
  height:0px;
}
#u236 {
  position:absolute;
  left:491px;
  top:397px;
  width:60px;
  height:1px;
}
#u237 {
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u238 {
  position:absolute;
  left:561px;
  top:387px;
  width:85px;
  height:20px;
  color:#FF0000;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
